.ingredientList{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50rem;
  height: 6rem;
}

.check-mover{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 5rem;
}
