#ingredient-list-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-origin: padding-box;
  width: 10rem;
  height: 4rem;
}

.ingredients-list{
  max-width: 5rem;
}

.check-mover{
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 22rem;
}

.input-group-append{
  display: flex;
  flex-direction: column;
}

.card-img{
  max-width: 200px;
  max-height: 200px;
}

.btn-lg{
  padding: 1rem;

}

#recipe-anchor-div{
  margin-top: 5rem;
}

.col-md-4{
  padding-top: 2rem
}

.card{
  margin: .1rem
}

#spacer-here{
  margin-bottom: 15px;
}