#ingredient-list-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 6rem;
}

.save-button{
  margin-left: 2em;
}

#run-search-button{
  margin: 4em;
}

.ingredients-list{
  background: none;
  border: 0;
}

.check-mover{
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 22rem;
}

.input-group-append{
  display: flex;
  flex-direction: column;
}

.card-img{
  max-width: 200px;
  max-height: 200px;
}